#logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO

#platform: mt5, ctrader
PLATFORM_ENVIRONMENT=Development
PLATFORM_TYPE=mt5
PLATFORM_SERVER=FTMO-Demo
PLATFORM_TIMEZONE="UTC"
PLATFORM_TIME_OFFSET=1

#MT5 login credentials
MT5_LOGIN=123456789
MT5_PASSWORD=blablabla
MT5_TERMINAL_PATH="C:/Program Files/MT5001/terminal64.exe"

#CTrader login credentials
CTRADER_ACCOUNT_ID=
CTRADER_CLIENT_ID=
CTRADER_CLIENT_SECRET=
CTRADER_REFRESH_TOKEN=

#notify: prod: aqrpo4qb4cu7cp2sb8tz9m15nzzvn9, dev: apuoaaha1xzebc7uqqbb7pr3wpKEY=
NOTIFY_SERVER_URL=https://api.pushover.net/1/messages.json
NOTIFY_USER_KEY=umfvpp5scjzcs7g3fhdjhrshckeqnr
NOTIFY_APP_TOKEN=apuoaaha1xzebc7uqqbb7pr3wpKEY=

