#logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL
#LOG_LEVEL=DEBUG
LOG_LEVEL=INFO

#server
PLATFORM_SERVER=CapitalPointTrading-Demo
PLATFORM_TYPE=mt5

#mt5 account
ACCOUNT_LOGIN=123456789
ACCOUNT_PASSWORD=blksdhf7h4b3j
ACCOUNT_TERMINAL_PATH="C:/Program Files/MT5001/terminal64.exe"

PLATFORM_TIMEZONE="UTC"
PLATFORM_TIME_OFFSET=1
PLATFORM_ACCOUNT_ID=
PLATFORM_CLIENT_ID=
PLATFORM_CLIENT_SECRET=
PLATFORM_REFRESH_TOKEN=
PLATFORM_API_KEY=

#backtest
BACKTEST_DEPOSIT=100000
BACKTEST_LEVERAGE=1:500
BACKTEST_CURRENCY=USD
BACKTEST_DATE_FROM=01-01-2025
BACKTEST_DATE_TO=01-02-2025
BACKTEST_TIMEFRAME=M1
BACKTEST_TERMINAL_OUTPUT=true
BACKTEST_PERSIST=true
BACKTEST_COMMISSION_PER_LOT=5.50
BACKTEST_SLIPPAGE_PER_LOT=10

#notify
NOTIFY_SERVER_URL=https://ntfy.sh
NOTIFY_TOPIC=edgellence